.storeDropdown {
	background: #3672d3;
	border-radius: 4px;
	margin: 0 0 10px;
	padding: 20px;
	width: 100%;
	box-shadow: 1px 1px 2px #505050;
	text-align: center;
}

.storeLocations {
	background: #f3f3f3;
	border-radius: 4px;
	padding: 20px 0;
	box-shadow: 1px 1px 2px #505050;
}

.locations {
	border-bottom: 1px dotted #252424;
	padding: 10px 20px;
	cursor: pointer;
	position: relative;

	&:first-child {
		border-top: 1px dotted #252424;
	}

	&:hover {
		background-color: #fff;
	}
}

.activeLocation {
	background-color: #d6e9f1;

	&::after {
		content: '>';
		margin-left: 15px;
		background-color: black;
		color: white;
		padding: 5px;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		display: block;
		line-height: 13px;
		text-align: center;
		position: absolute;
		right: 5px;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
	}
}

.branchHours {
	background: rgb(6,71,136);
	background: linear-gradient(180deg, rgba(6,71,136,1) 0%, rgba(40,143,210,1) 100%);
	border-radius: 4px;
	padding: 20px;
	width: 100%;
	box-shadow: 1px 1px 2px #505050;
	color: white;
	text-align: center;
	position: fixed;
	max-width: max-content;
	min-width: 600px;
	border: 10px solid white;
}

.day {
	display: flex;
	justify-content: center;
	align-items: center;
}

.time {
	background-color: #0c42c5;
	padding: 5px 10px;
	min-width: 95px;
}

.timeClosed {
	background-color: #d01c1c;
	padding: 5px 10px;
	min-width: 95px;
}

.sign {
	position: absolute;
	bottom: -100px;
}

.swing {
	animation: swing ease-in-out 1s alternate;
	animation-iteration-count: 3;
	transform-origin: center -20px;
	float:left;
	width: 100%;

	img {
		display: block;
		background-color: transparent;
		margin: auto;
	}
}

@keyframes swing {
	0% { transform: rotate(3deg); }
	100% { transform: rotate(-3deg); }
}
